name: CI

on:
  push:
    branches:
      - main
      - release-*
  pull_request: {}

jobs:
  setup-go:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version-file: "go.mod"

      - name: Download dependencies
        run: go mod download

      - name: Check build
        run: go build ./...

  unit-test:
    needs: setup-go
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version-file: "go.mod"

      - name: Run unit tests
        run: make test

  go-fmt-check:
    needs: setup-go
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version-file: "go.mod"

      - name: Check go fmt changes
        run: |
          go fmt ./...
          git status --porcelain
          if [ "$(git status --porcelain)" != "" ]; then
            echo "The following files would be changed by go fmt:"
            git status --porcelain
            exit 1
          else
            echo "All files are properly formatted."
          fi
